form{
	width:90%;
	margin:0 auto;
}

input, textarea{
	font-family:arial,verdana,helvetica;
	font-size:12px;
}

input:hover, textarea:hover{
	background-color:#ADD8E6;
}

legend{
	font-family:arial, verdana, helvetica;
	color:#A52A2A;
	font-weight:bold;
	font-size:16px;
}

fieldset{
	border-color:#A52A2A;
	margin: 0 auto 30px auto;
	width: 70%;
}

fieldset#civil{
	margin: 0;
	width:50%;
}

fieldset#pessoais, #endereco, #urgencia{
	background-color:#E5E5E5;
}

#iEnviar{
	display: block;
	margin: 0 auto;
	font-size:18px;
	width:100px;
	border-radius:20px;
	padding:5px;
	color:#FFFFFF;
	background-color:#FF7B00;
	
}

#iEnviar:hover{
	font-size:18.2px;
	color:#C4C4C4;
	cursor:pointer;
	box-shadow:rgb(150,150,150) 1.5px 1.5px 1.5px 1.5px;
}

@media (max-width: 700px) {
	fieldset{
		width: 94%;
	}
}